.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: black;
}
.navbar-light .navbar-brand {
    color: #fff;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
}
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
    color: #fff;
}
.navbar-light .navbar-nav .nav-link {
    color: #fff;
    transition:  0.3s;
}
.navbar-toggler {
    background: #fff;
}
.navbar-nav {
    text-align: center;
    margin-top: 5px;
}
.nav-link {
    padding: .2rem 1rem;
}
.nav-link.active,
.nav-link:focus {
    color: #fff;
}
.navbar-toggler {
    padding: 1px 5px;
    font-size: 18px;
}
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: bisque;
}
.navbar-light  .navbar-brand:hover {
    color: bisque;
}
#user-status {
    color: white;
}
.navbar:hover {
    transform: inherit;
}
